:root {
    --ash-gray: #bec5adff;
    --sage: #a4b494ff;
    --sea-green: #519872ff;
    --feldgrau: #3b5249ff;
    --raisin-black: #34252fff;
}


.hero-section{
    height: 100vh;
    background-color: var(--sea-green);
    color: var(--raisin-black);
}